body{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    margin:0px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


.menu{
    width: 26%;
    position: sticky;
}
.menu .iconos{
    list-style: none;
    padding-left: 10%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.iconos svg{
    width: 30px;
}
.iconos a{
    text-decoration: none;
    size: 30px;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 19px;
}
.iconos .post{
    color: black;
    justify-content: center;
    font-weight: 500;
    padding: 17px;
    background: rgb(250, 250, 250);
    border-radius: 100px;
    margin-inline: -10px 35px;
    font-size: 17px;
}
.menu .cuentas{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-left: 145px;
    margin-top: 40px;
    color: white;
    gap: 10px;
}
.menu .nombre{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
}
.menu .c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 15px;
    color:white;
    background-color: rgb(92 107 192);
    border-radius: 100%;
}
.menu .usuario{
    color: grey;
}


.contenedor-principal{
    width: 40%;
    min-height: 100vh;
    border-left: 1px solid rgb(50, 49, 49);
    border-right: 1px solid rgb(50, 49, 49);
    display: flex;
    flex-direction: column;
}
.para-ti{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(50,49,49);
}
.foryou{
    background-color: transparent;
    color: white;
    padding: 0px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    flex: 1;
    font-weight: 600;
}
.texto-activo{
    border-bottom: 4px solid rgb(29 155 240);
    display: inline-block;
    padding: 15px 0px;
    font-size: 14px;
}
.siguiendo{
    background-color: transparent;
    color: gray;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    flex: 1;
    font-weight: 600;
    font-size: 14px;
}
.mas{
    background-color: transparent;
    color: gray;
    outline: 0px;
    border: 0px;
    cursor: pointer;
    font-size: 20px;
    padding-right: 25px;
}

.crear-post{
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 1px solid rgb(50, 49, 49);
}
.crear-post .icono{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
}
.crear-post .publicar{
    flex: 1;
}
.publicar .pasando{
    background-color: transparent;
    border: 0px;
    outline: 0px;
    color: white;
    resize: none;
    font-size: 18px;
    margin-bottom: 5px;
}
.publicar .rodapie{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rodapie .post{
    background-color: grey;
    color: rgb(64, 63, 63);
    font-weight: 600;
    border-radius: 30px;
    padding: 8px 16px;
    border: 0px;
}


.prescindible{
    width: 20%;
}
